root = true

[*]
end_of_line = lf
insert_final_newline = true

[package.json]
indent_style = space
indent_size = 2

[composer.json]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[{codeception.yml, tests/e2e/**.yml}]
indent_style = space
indent_size = 4
