.vsm-metabox {
    margin:30px 0;
    background: #fff;

    &__header {
        margin: 0 0 10px 0;
        border-bottom: 1px solid #e5e5e5;
        padding: 8px 20px;

        font-size: 14px;
        line-height: 1.4;

        &:hover {
            cursor:pointer;
        }
    }

    &__content {
        padding: 0 10px 10px;

        &_closed {
            display: none;
        }
    }
}

.vsm-message {
    &_type {
        &_not-exists {
            margin-top: 14px;
        }

        &_not-found {
            padding-left: 5px;
        }
    }
}

.vsm-top-panel {
    display: flex;
    margin: 10px 0 4px;

    &__refresh {
        margin-left: 40px;
    }
}

.vsm-search {
    &__input {
        max-width: 150px;
    }

    &__reset {
        margin-left: 6px !important;
    }
}

.vsm-refresh {
    display: flex;
    align-items: center;

    &__button {
    }

    &__last-updated {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    &__success {
        display: inline-block;
        margin-left: 10px;

        color: lightgreen;
        font-weight: bold;
        font-size: 1.4em;
        line-height: 1;
    }
}

.vsm-table {
    border-collapse: collapse;

    a {
        text-decoration:none;
    }

    &__row {
        &:hover {
            background-color:#f0f0f0;
        }
    }

    &__column {
        padding:5px 10px;
        text-align:left;

        &_sortable {
            &:hover{
                cursor: pointer;
            }
        }

        &_type_th {
            border-bottom: 1px solid #e1e1e1;
            font-weight:bold;
        }

        &_type_td {
            vertical-align:top;
        }
    }

    &__column_content {
        &_umeta-id {
            min-width:65px;
        }

        &_value {
        }
    }
}

.vsm-value {
    &_type {
        &_pretty {
            pre {
                margin-top:0;
                margin-bottom:0;
                white-space: pre-wrap;
            }
        }

        &_plain {
            font-family: monospace;
            word-break: break-all;
        }
    }
}

.vsm-arrow {
    margin-left:6px;
    font-weight:bold;

    border: solid black;
    border-width: 0 2.3px 2.3px 0;
    display: inline-block;
    padding: 2.3px;
    position:relative;
    top:-1px;

    &_dir {
        &_up {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }

        &_down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }
}

.vsm-pretty-code-button {
    display: inline-block;
    border:1px solid #e2e2e2;
    padding: 2px 5px;
    font-weight: bold;
    color: #2271b1;
    background-color: #fff;

    &:focus {
        box-shadow:none;
    }

    &:hover {
        cursor: pointer;
    }

    &_activated {
        /*background-color:#d3ffcb;*/
        background-color:#e2f9de;
    }
}
